@{
    ViewData["Title"] = "Home Page";
}
@model string 
<div class="text-center">
    <form action="Generate" method="post">
    <p>Random passcode (passcode#1)</p>
    <h1>@Model</h1>
    <button type="submit" class="button">Generate</button>
    </form>
</div>
