*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.nav{
    /* background-color: #e9e9eb; */
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-items: center;
}
.nav h1{
    color: #165397;
}

.nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
    color: #000;
}

.nav ul li a{
    text-decoration: none;
    color: #000;
}

.nav ul li a:hover{
    color: #ffffff;
}

.button1{
    background-color: #165397;
    color: #e9e9eb;
    padding: 10px 20px;
    border: solid 0px;
    border-radius: 5px 10px ;
}

.button1:hover{
    background-color: #000;
}


.container{
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    min-height: 600px;
    width: 80%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom{
    min-height: 400px;
    width: 60%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 20px 20px 20px;
    opacity: 90%;
}


.text{
    min-height: 100px;
    width: 100%;
    /* background-color: rgb(179, 219, 35); */
    text-align: center;
    padding: 20px 90px ;
    line-height: 25px;
    color: rgb(216, 0, 0);
}

/* .text h1{
    background-color: #165397;
} */
/* .left{
    height: 500px;
    width: 500px;
    background-color: rgb(134, 16, 138);
    padding: 20px 20px 20px 40px;
} */

.text h1{
    padding: 10px;
}

.right{
    min-height: 500px;
    width: 500px;
    /* background-color: rgb(0, 60, 255); */
    /* padding: 20px 20px 20px 40px; */
    line-height: 25px;
    color: #165397;
}

.right h1{
    text-align: center;
}
.button{
    background-color: #165397;
    color: #e9e9eb;
    padding: 5px 20px;
    border: solid 0px;
    border-radius: 5px;
    margin-bottom: 20px;
}